<div class="slider section1">
    <h1> WarRoom </h1>
    <div class="container slider-text">
      <h3>Breaking the code, making your Board
</h3>
      <p>
        A core component of a Lean startup methodology is the build-measure-learn feedback loop. The first step is figuring how to solve a problem by creating an MVP(Minimum Viable Product). At warRoom we do just this. We code with Skill, we Scale your business and all this at the Speed of light. Tell us your problem statement and through our network we will call in the best hackers/developers, who will sit together and give you the cutting-edge solution to your business and create for you, your MVP within 24 hours.
 
      </p>
    </div>
  </div>
  
  <div class="container section2">
    <h3>Three available packages just for you. Choose one and let us do the rest. :)</h3>
    <div class="col-md-10 col-md-offset-1">
      <div class="row ticket-row">
        <center>
          <div class="col-md-3 col-sm-3 col-xs-12 ticket {{class1}}" ng-click="changeClassTicket1()" id="ticket1"> 2 DEVELOPERS <br> 1 DESIGNER</div>
          <div class="{{class2}} col-md-3 col-sm-3 col-xs-12 ticket" ng-click="changeClassTicket2()" id="ticket2"> 3 DEVELOPERS <br> 1 DESIGNER</div>
          <div class="col-md-3 col-sm-3 col-xs-12 {{class3}} ticket" ng-click="changeClassTicket3()" id="ticket3"> 3 DEVELOPERS <br> 2 DESIGNER</div>
        </center>
      </div>
      
      <div class="row social-logins animate-show" ng-show="showLogins">
        <span class="home-login-span">
          <md-button ng-click="toggleTnCModal()" class="md-raised home-signin-button-facebook"><span class="home-signin-logo-facebook"><i class="fa fa-facebook"></i></span><span class="home-signin-text-facebook"> Sign up with Facebook</span></md-button>
        </span>
        
        <span class="home-login-span">
          <md-button ng-click="toggleTnCModal()"  class="md-raised home-signin-button-linkedin"><span class="home-signin-logo-linkedin"><i class="fa fa-linkedin"></i></span><span class="home-signin-text-linkedin"> Sign up with LinkedIn</span></md-button>
        </span>
      </div>
    </div>
  </div>
  <div class="row social-share custom-remove-margin">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <md-button class="md-raised home-fb-share" socialshare="" socialshare-provider="facebook" socialshare-url="http://codejedi.io/warroom"> <i class="fa fa-facebook"></i> share </md-button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <md-button class="md-raised home-twitter-share" socialshare="" socialshare-provider="twitter" socialshare-url="http://codejedi.io/warroom"> <i class="fa fa-twitter"></i> tweet </md-button>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <md-button class="md-raised home-gplus-share" socialshare="" socialshare-provider="google+" socialshare-url="http://codejedi.io/warroom"> <i class="fa fa-google-plus"></i> share </md-button>
      </div>
    </div>
    
  </div>


<!--MODALS BEGIN-->
<modal-dialog class="problemStatementModal" show="probStatModalShown" dialog-title="PROBLEM STATEMENT">
  <div class="problem-statement-modal">
    <input type="text" placeholder="Your name...">
    <input type="tel" placeholder="Your contact number...">
    <textarea placeholder="Your big idea..."></textarea>
  </div>
  <br>
  <div class="modalButtons">
    <button class="btn btn-md modalCancelButton" ng-click="toggleProbStatModal()"> Cancel </button>
    <button class="btn btn-md modalOKButton"> Send </button>
  </div>
</modal-dialog>


<modal-dialog class="termsAndConditonsModal" show="termsNconditionsModalShown" dialog-title="TERMS & CONDITIONS">
  <div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
  <br>
  <div class="modalButtons">
    <button class="btn btn-md modalCancelButton" ng-click="toggleTnCModal()"> Cancel </button>
    <button class="btn btn-md modalOKButton" ng-click="toggleTnCModal(); toggleProbStatModal()"> Accept </button>
  </div>
</modal-dialog>